* {
  font-family: Inter !important;
  line-height: 1.5;
  
}
.bg-primary {
  background-color: #16ABF8 !important;
}
/* margins */
.mt-10 {
  margin-top: 10rem;
}

.rotate {
  animation: rotates .5s;
}
@keyframes rotates {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
