* {
  font-family: Inter !important;
  line-height: 1.5;
  
}
.bg-primary {
  background-color: #16ABF8 !important;
}
/* margins */
.mt-10 {
  margin-top: 10rem;
}

.rotate {
  animation: rotates .15s;
}
.del-btn{
  float: right;
  border: 0;
  background: none;
  margin-right: .75rem;
  transform:translateY(-2.75rem);
}
@keyframes rotates {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
